@font-face {
  font-family:Yekan;
  /*font-style:bold;*/
  font-weight:700;
  src:url(../fonts/YekanWeb-Bold.woff) format('woff');
}

@font-face {
  font-family:Yekan;
  font-style:normal;
  font-weight:400;
  src:url(../fonts/YekanWeb-Regular.woff) format('woff');
}