$startSide: map_get($localeDirections, 'start');
$endSide: map_get($localeDirections, 'end');

@media print {
  a[href]:after {
    content: "";
  }
}

// Public Silent Classes --start
%display-none {
  display: none;
}

// Public Silent Classes --end

// ،Top Main Header --start

header {
  .top-bar {
    @media(max-width: 500px) {
      font-size: 12px;
    }
    > ul {
      > li {
        &:first-child {
          &:after {
            content: "";
            width: 8px;
            height: 8px;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            background-color: #fff;
          }
        }
        li {
          a {
            padding: 10px 20px;
          }
        }
      }
      a {
        padding: 10px 20px;
        display: inline-block;
        @media(max-width: 500px) {
          padding: 12px 5px;
          font-size: 0.8em;
        }
      }
    }

    .select-lang-btn {
      @extend .bg-white, .rounded-corners-5;
      margin-left: 230px;
      margin-top: 8px;
      padding: 2px 5px;

      > a {
        &,
        &:active,
        &:focus,
        &:link,
        &:visited {
          @extend .text-blue, .border-1, .border-blue, .rounded-corners-5, .f12;
          background-color: lighten(map_get($colors, 'blue'), 50%);
          border: none;
          outline: none;
          padding: 0 5px;
          line-height: 10px;

          &.selected {
            @extend .text-green, .border-green;
            background-color: lighten(map_get($colors, 'green'), 50%);
          }
        }
      }
    }

  }
  #logo {
    max-width: 100%;
    height: auto;
    max-height: 45px;
  }

  .main-menu {
    position: relative;
    min-height: 76px;
    z-index: 20;
    @media (max-width: 600px) {
      margin-left: -15px;
      margin-right: -15px;
    }
    .list-inline {
      margin-left: 0;
      margin-right: 0;
    }
    > a {
      position: relative;
      z-index: 1;
    }
    .ehda-card-menu {
      position: absolute;
      z-index: 2;
      background-color: $color-green;
      color: #fff;
      border-radius: 5px;
      padding: 5px 10px;
      text-align: right;
      top: -7px;
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;
      &, & svg {
        transition: all 0.2s 0s;
      }
      &:hover {
        background-color: #e6e6e6;
        color: #23527c;
        svg {
          fill: red;
        }
      }
      span {
        display: block;
        &:last-child {
          position: absolute;
          top: 5px;
          left: 10px;
        }
        svg {
          width: 20px;
        }
      }
    }
    li {
      &:nth-child(2) {
        > ul.mega-menu:after {
          background-position-x: -128px;
        }
      }
      &:nth-child(3) {
        > ul.mega-menu:after {
          background-position-x: -253px;
        }
      }
    }
    > ul {
      text-align: left;
      @media(max-width: 999px) {
        display: block;
        margin-top: 10px;
        text-align: center;
        .ehda-card-menu {
          font-size: 10px;
          top: 15px;
          left: 15px;
          svg {
            width: 17px;
          }
        }
        > li a {
          font-size: 1em;
          width: auto;
          margin: 0;
          padding: 8px;
        }
      }
      > li:hover {
        > a {
          color: #23527c;
        }
      }
      @media (min-width: 1000px) {
        position: absolute;
        left: -15px;
        right: -15px;
        padding-left: 258px;
        bottom: 0;
        margin: 0;
      }
      .mega-menu {
        height: 330px;
        &:after {
          content: "";
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: url(#{$imagesDir}menu-ribbon.png) no-repeat left 122px;
          background-attachment: fixed;
          position: absolute;
          pointer-events: none;
          z-index: 1;
          @media(max-width: 1000px) {
            background-position: left top !important;
          }
        }
      }
    }
    > ul > li {
      display: inline-block;
      @media(min-width: 1000px) {
        &:hover > a, > a:hover, &.active > a {
          &:before {
            content: "";
            position: absolute;
            right: -58px;
            left: 0px;
            top: -29px;
            transform: skew(-45deg);
            bottom: 0;
            background: #000;
            opacity: 0.1;
          }
        }
        //&.active > a {
        //  &:before {
        //    background: #e6e6e6;
        //  }
        //}
        &:hover > a, > a:hover {
          &:before {
            border-top: 10px solid #e6e6e6;
          }
        }
      }
      > a {
        @extend .text-blue;
        display: block;
        font-size: 20px;
        font-weight: 500;
        padding: 10px 0 10px 20px;
        position: relative;
        margin-left: 24px;
        width: 87px;
        &:before {
          content: "";
        }
      }
    }
  }

  .slogan {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    span {
      padding: 10px 15px;
      display: inline-block;
      position: relative;
      z-index: 2;
      @media(max-width: 500px) {
        font-size: 0.8em;
        padding: 12px 8px;
      }
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: -46%;
      top: 0px;
      background-color: $color-green;
      transform: skew(-30deg);
      z-index: 1;
      border-right: 5px solid #fff;
      @media(max-width: 500px) {
        border-width: 2px;
      }
      box-shadow: 0 1px #fff;
    }
  }
}

@media (min-width: 900px) {
  .main-logo {
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .main-logo {
    overflow: hidden;
    width: 90px;
  }
  header #logo {
    max-width: none;
    width: 300px;
  }
  header .main-menu > ul {
    margin-left: 13%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .main-menu > a {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .main-menu > a {
    width: 100%;
  }
  header .main-menu > ul {
    margin-left: 0;
  }
  header .main-menu a.ehda-card-menu {
    left: 15px;
    top: 15px;
  }
}

// ،Top Main Header --end

// Font Size --start
@for $i from 5 to 101 {
  .f#{$i} {
    font-size: 1px * $i;
    @if ($i<10) {
      font-weight: 100;
    }
  }
}

// Font Size --end

// Rounded Corner --start
@for $i from 1 to 21 {
  $number: $i * 5;
  $value: $number * 1px;
  .rounded-corners-#{$number} {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
  }
}

// Rounded Corner --end

// Radio and Checkbox --start
[type="radio"],
[type="checkbox"] {
  position: absolute;
  display: none;
}

[type="radio"][disabled],
[type="checkbox"][disabled] {
  cursor: not-allowed;
}

[type="radio"] + label,
[type="checkbox"] + label {
  position: relative;
  padding-#{$startSide}: 30px;
  padding-#{$endSide}: 0;
  cursor: pointer;
  vertical-align: middle;
}

[type="radio"] + label:hover:before,
[type="checkbox"] + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}

[type="radio"] + label:before,
[type="checkbox"] + label:before {
  position: absolute;
  top: 0;
  #{$startSide}: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: '';
  border: 1px solid #c0c0c0;
}

[type="radio"] + label:after,
[type="checkbox"] + label:after {
  position: absolute;
  display: none;
  content: '';
}

[type="radio"][disabled] + label,
[type="checkbox"][disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4;
}

[type="radio"][disabled] + label:hover, [type="radio"][disabled] + label:before, [type="radio"][disabled] + label:after,
[type="checkbox"][disabled] + label:hover,
[type="checkbox"][disabled] + label:before,
[type="checkbox"][disabled] + label:after {
  cursor: not-allowed;
}

[type="radio"][disabled] + label:hover:before,
[type="checkbox"][disabled] + label:hover:before {
  border: 1px solid #e4e4e4;
  animation-name: none;
}

[type="radio"][disabled] + label:before,
[type="checkbox"][disabled] + label:before {
  border-color: #e4e4e4;
}

[type="radio"]:checked + label:before,
[type="checkbox"]:checked + label:before {
  animation-name: none;
}

[type="radio"]:checked + label:after,
[type="checkbox"]:checked + label:after {
  display: block;
}

[type="radio"] + label:before {
  border-radius: 50%;
}

[type="radio"] + label:after {
  top: 6px;
  #{$startSide}: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

[type="radio"]:checked + label:before {
  border: 1px solid;
}

[type="radio"]:checked[disabled] + label:before {
  border: 1px solid;
}

[type="radio"]:checked[disabled] + label:after {
  background: #c9e2f9;
}

[type="checkbox"] + label:before {
  border-radius: 3px;
}

[type="checkbox"] + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
}

.radio {
  @each $colorName, $colorCode in $darkColors {
    &.#{$colorName} {
      $veryLight: lighten($colorCode, 80%);
      $littleLight: lighten($colorCode, 30%);

      [type="radio"] + label:after {
        background: #{$colorCode};
      }

      [type="radio"]:checked + label:before {
        border-color: #{$colorCode};
      }

      [type="radio"]:checked[disabled] + label:before {
        border-color: #{$veryLight};
      }

      [type="radio"]:checked[disabled] + label:after {
        background: #{$veryLight};
      }

      [type="checkbox"]:checked + label:before {
        border: #{$colorCode};
        background: #{$colorCode};
      }

      [type="checkbox"]:checked[disabled] + label:before {
        border: #{$littleLight};
        background: #{$littleLight};
      }
    }
  }

  @extend .radio.black;
  padding-right: 0;
  padding-left: 0;
  display: inline-block;
  margin-right: 15px;

  &:first-child {
    margin-right: 0;
  }
}

// Radio and Checkbox --end

%border-solid {
  border-style: solid;
}

@for $size from 1 to 6 {
  .border-#{$size} {
    @extend %border-solid;
    border-width: #{$size}px;
  }
}

@each $directionShort, $directionLong in $directions {
  %border-#{$directionLong}-solid {
    border-#{$directionLong}-style: solid;
  }
  @for $i from 1 to 21 {
    $value: $i * 5;
    .m#{$directionShort}#{$value} {
      margin-#{$directionLong}: #{$value}px;
    }
    .p#{$directionShort}#{$value} {
      padding-#{$directionLong}: #{$value}px;
    }
  }

  @for $size from 1 to 6 {
    .border-#{$directionLong}-#{$size} {
      @extend %border-#{$directionLong}-solid;
      border-#{$directionLong}-width: #{$size}px;
    }
  }
}

.media-list {
  .media-list-item {
    @extend .media;
    border-#{$startSide}-width: 2px;
    border-#{$startSide}-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-#{$startSide}: 2px;
    padding-#{$endSide}: 0;

    .media-list-item-body {
      @extend .media-body
    }

    .media-list-item-heading {
      @extend .media-heading
    }

    .media-list-item-image {
      @extend .media-#{$startSide};
      padding-#{$endSide}: 10px;
      padding-#{$startSide}: 0px;
    }

    .media-list-item-image img {
      height: 72px;
      width: 72px;
      object-fit: cover;
    }

    a {
      @extend .text-black;
      float: right;
    }
  }
}

.underlined-heading {
  $borderSize: 3px;
  @extend .border-bottom-black;
  @extend .mb15;
  border-bottom-width: #{$borderSize};
  border-bottom-style: solid;

  > span {
    @extend .pb5;
    @extend .pl5;
    display: inline-block;
    border-bottom-width: #{$borderSize};
    border-bottom-style: solid;
    margin-bottom: -#{$borderSize};
  }
}

/* floating elements */
%floating {
  position: absolute;
}

@each $dShort, $dLong in $directions {
  @for $i from 0 to 11 {
    $value: $i * 5;
    .floating-#{$dLong}-#{$value} {
      @extend %floating;
      #{$dLong}: #{$value}px;
    }
  }
}

@each $side, $direction in $localeDirections {
  @for $i from 0 to 11 {
    $value: $i * 5;
    .floating-#{$side}-#{$value} {
      @extend %floating;
      #{$direction}: #{$value}px;
    }
  }

  .text-#{$side} {
    @extend .text-#{$direction};
  }

  @each $colorName, $colorCode in $colors {
    .border-#{$side}-#{$colorName} {
      @extend .border-#{$direction}-#{$colorName};
    }
  }

  .media-#{$side} {
    @extend .media-#{$direction};
  }
}

img%img-cover {
  object-fit: cover;
}

@for $i from 2 to 15 {
  $width: 50 * $i;
  @for $j from 2 to 15 {
    $height: 50 * $j;
    img.img-cover-#{$width}-#{$height} {
      @extend %img-cover;
      width: #{$width}px;
      height: #{$height}px;
    }
  }
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.yt-gallery {
  .yt-gallery-item {
    position: relative;
    img {
      $transition: filter 1s, border .2s;
      -webkit-transition: #{$transition};
      -moz-transition: #{$transition};
      -ms-transition: #{$transition};
      -o-transition: #{$transition};
      transition: #{$transition};
    }
    .yt-gallery-item-text {
      $transition: opacity .2s;
      @extend .border-top-1;
      @extend .border-top-gray;
      @extend .text-center;
      -webkit-transform: #{$transition};
      -moz-transform: #{$transition};
      -ms-transform: #{$transition};
      -o-transform: #{$transition};
      transform: #{$transition};
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: rgba(255, 255, 255, .5);
      padding: 3px 5px;
      color: #000;
      opacity: 0;
    }
    &.focus {
      img {
        @extend .border-5;
      }
      .yt-gallery-item-text {
        opacity: 1;
      }
    }
    &.unfocus {
      img {
        @extend .grayscale;
        border-width: 0;
      }
    }
  }

  ul.waterfall {
    padding: 0;

    li {
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 0;

      &.show {
        opacity: 1;
        transition: all 0.3s, top 1s;
      }

      div {
        transition: all 0.5s;
        img {
          width: 100%;
        }
      }
    }
  }
}

.form-control.has-icon {
  padding-right: 30px;
}

.help-block.error {
  @extend .text-red;
  @extend .f12;
  font-weight: normal;
}

// DropZone --start
.dropzone {
  $baseColor: map_get($colors, 'blue');
  border: 2px dashed #{$baseColor} !important;
  background: lighten($baseColor, 50%) !important;

  .dz-preview {
    @extend .border-2;

    &.dz-success {
      @extend .border-green;
    }
    &.dz-error {
      @extend .border-red;
    }

    .dz-details, .dz-image {
      z-index: 0 !important;
    }

    .dz-image {
      border-radius: 0 !important;
    }

    .dz-remove {
      $boxSize: 25;
      $overFlow: 12;
      $borderColor: map_get($colors, 'gray');
      @extend .fa, .fa-remove, .text-gray, %floating, .bg-white, .pt5;
      display: inline-block !important;
      top: -#{$overFlow}px;
      #{$endSide}: -#{$overFlow}px;
      width: #{$boxSize}px;
      height: #{$boxSize}px;
      border-radius: 50%;
      border: 1px solid #{$borderColor} !important;
      opacity: .8;
      transition: opacity .7s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// DropZone --end

// Shadow --start
.shadow-m {
  $value: 0 5px 20px -5px rgba(0, 0, 0, .3);
  -webkit-box-shadow: #{$value};
  -moz-box-shadow: #{$value};
  box-shadow: #{$value};
}

// Shadow --end

// Bootstrap Select Picker --start
.bootstrap-select {
  > .btn-default {
    @extend .form-control;
  }

  > .dropdown-toggle {
    padding-right: 12px !important;
    padding-left: 30px !important;
  }

  * {
    text-align: #{$startSide} !important;
  }

  &.btn-group .dropdown-toggle .caret {
    left: 12px !important;
    right: auto !important;
    margin: 0 !important;
  }
}

// Bootstrap Select Picker --end

// JqueryUi --start
[type="radio"],
[type="checkbox"] {
  &,
  &:checked {
    + label.ui-button {
      & {
        padding: .4em 1em;
      }

      &:before,
      &:after,
      .ui-checkboxradio-icon {
        @extend %display-none;
      }
    }
  }
}

.ui-datepicker {
  .ui-datepicker-calendar {
    td {
      $activeColor: #1ABC9C;
      $defaultColor: #2c3e50;
      $highlightColor: #757575;
      $disabledColor: #9F9F9F;

      > * {
        @extend .text-center, .border-1;
        background: map_get($colors, 'white');
        font-weight: 500;
      }

      &.ui-state-disabled {
        > .ui-state-default {
          color: #{$disabledColor};
          border-color: #{$disabledColor};
        }
      }

      &:not(.ui-state-disabled) {
        > .ui-state-default {
          color: #{$defaultColor};
        }
        > .ui-state-highlight {
          color: #{$highlightColor};
          border-color: #{$highlightColor};
        }
        > .ui-state-active {
          color: #{$activeColor};
          border-color: #{$activeColor};
        }
      }
    }
  }
}

// JqueryUi --end

// Forms and Inputs --start
form {
  .form-heading {
    @extend .mt20, .mb10, .text-#{$startSide};
    width: 100%;
    overflow: hidden;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 1px;
      border-top: 1px dashed #{map_get($colors, 'darkGray')};
      width: 100%;
      margin-#{$endSide}: -100%;
      margin-#{$startSide}: 10px;
    }
  }
}

.img-btn {
  $transitionValue: all .3s ease-out;
  @extend .mt10, .mb10, .mr15, .ml15;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  -webkit-transition: $transitionValue;
  -moz-transition: $transitionValue;
  -ms-transition: $transitionValue; /* IE10 is actually unprefixed */
  -o-transition: $transitionValue;
  transition: $transitionValue;

  &:hover {
    $scaleValue: 'scale(1.1)';
    -webkit-transform: #{$scaleValue};
    -moz-transform: #{$scaleValue};
    -ms-transform: #{$scaleValue};
    -o-transform: #{$scaleValue};
    transform: #{$scaleValue};
  }

  img {
    max-height: 180px;
  }
}

// Forms and Inputs --end

// Post Cards --start

.post-card {
  @extend .border-1, .border-lightGray, .pt10, .pb10, .pl15, .pr15;
  min-height: 420px;

  .post-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 0 !important;
  }

  a {
    @extend .link-black;
  }
}

// Post Cards --end

// FlatUI --start


.btn {
  border: none;
  font-weight: normal;
  border-radius: 4px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  &:hover, &:focus {
    outline: none;
    color: #ffffff;
  }
  &:active, &.active {
    outline: none;
    box-shadow: none;
  }
  &:focus:active {
    outline: none;
  }
  &.disabled, &[disabled] {
    background-color: #bdc3c7;
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.7;
    filter: alpha(opacity = 70);
    cursor: not-allowed;
  }
}

.btn-success {
  color: #ffffff;
  background-color: #2ecc71;
  &:hover, &.hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: #58d68d;
    border-color: #58d68d;
  }
}

.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #58d68d;
  border-color: #58d68d;
}

.btn-success {
  &:active, &.active {
    background: #27ad60;
    border-color: #27ad60;
  }
}

.open > .dropdown-toggle.btn-success {
  background: #27ad60;
  border-color: #27ad60;
}

.btn-success {
  &.disabled, &[disabled] {
    background-color: #bdc3c7;
    border-color: #2ecc71;
  }
}

fieldset[disabled] .btn-success {
  background-color: #bdc3c7;
  border-color: #2ecc71;
}

.btn-success {
  &.disabled:hover, &[disabled]:hover {
    background-color: #bdc3c7;
    border-color: #2ecc71;
  }
}

fieldset[disabled] .btn-success:hover {
  background-color: #bdc3c7;
  border-color: #2ecc71;
}

.btn-success {
  &.disabled.hover, &[disabled].hover {
    background-color: #bdc3c7;
    border-color: #2ecc71;
  }
}

fieldset[disabled] .btn-success.hover {
  background-color: #bdc3c7;
  border-color: #2ecc71;
}

.btn-success {
  &.disabled:focus, &[disabled]:focus {
    background-color: #bdc3c7;
    border-color: #2ecc71;
  }
}

fieldset[disabled] .btn-success:focus {
  background-color: #bdc3c7;
  border-color: #2ecc71;
}

.btn-success {
  &.disabled:active, &[disabled]:active {
    background-color: #bdc3c7;
    border-color: #2ecc71;
  }
}

fieldset[disabled] .btn-success:active {
  background-color: #bdc3c7;
  border-color: #2ecc71;
}

.btn-success {
  &.disabled.active, &[disabled].active {
    background-color: #bdc3c7;
    border-color: #2ecc71;
  }
}

fieldset[disabled] .btn-success.active {
  background-color: #bdc3c7;
  border-color: #2ecc71;
}

.btn-success .badge {
  color: #2ecc71;
  background-color: #ffffff;
}

.btn-warning {
  color: #ffffff;
  background-color: #f1c40f;
  &:hover, &.hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: #f4d313;
    border-color: #f4d313;
  }
}

.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #f4d313;
  border-color: #f4d313;
}

.btn-warning {
  &:active, &.active {
    background: #cda70d;
    border-color: #cda70d;
  }
}

.open > .dropdown-toggle.btn-warning {
  background: #cda70d;
  border-color: #cda70d;
}

.btn-warning {
  &.disabled, &[disabled] {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning {
  &.disabled:hover, &[disabled]:hover {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning:hover {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning {
  &.disabled.hover, &[disabled].hover {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning.hover {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning {
  &.disabled:focus, &[disabled]:focus {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning:focus {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning {
  &.disabled:active, &[disabled]:active {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning:active {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning {
  &.disabled.active, &[disabled].active {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning.active {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning .badge {
  color: #f1c40f;
  background-color: #ffffff;
}

.btn-inverse {
  color: #ffffff;
  background-color: #34495e;
  &:hover, &.hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: #415b76;
    border-color: #415b76;
  }
}

.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #415b76;
  border-color: #415b76;
}

.btn-inverse {
  &:active, &.active {
    background: #2c3e50;
    border-color: #2c3e50;
  }
}

.open > .dropdown-toggle.btn-inverse {
  background: #2c3e50;
  border-color: #2c3e50;
}

.btn-inverse {
  &.disabled, &[disabled] {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse {
  &.disabled:hover, &[disabled]:hover {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse:hover {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse {
  &.disabled.hover, &[disabled].hover {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse.hover {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse {
  &.disabled:focus, &[disabled]:focus {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse:focus {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse {
  &.disabled:active, &[disabled]:active {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse:active {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse {
  &.disabled.active, &[disabled].active {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse.active {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse .badge {
  color: #34495e;
  background-color: #ffffff;
}

.form-control::-moz-placeholder, .select2-search input[type="text"]::-moz-placeholder {
  color: #b2bcc5;
  opacity: 1;
}

.form-control:-ms-input-placeholder, .select2-search input[type="text"]:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .select2-search input[type="text"]::-webkit-input-placeholder {
  color: #b2bcc5;
}

.form-control, .select2-search input[type="text"] {
  border: 2px solid #bdc3c7;
  color: #34495e;
  //font-family: "Lato", Helvetica, Arial, sans-serif;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.form-group.focus .form-control, .form-control:focus, .form-group.focus .select2-search input[type="text"], .select2-search input[type="text"]:focus {
  border-color: #1abc9c;
  outline: 0;
  box-shadow: none;
}

.form-control {
  &[disabled], &[readonly] {
    background-color: #f4f6f6;
    border-color: #d5dbdb;
    color: #d5dbdb;
    cursor: default;
    opacity: 0.7;
    filter: alpha(opacity = 70);
  }
}

fieldset[disabled] .form-control {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.select2-search input[type="text"] {
  &[disabled], &[readonly] {
    background-color: #f4f6f6;
    border-color: #d5dbdb;
    color: #d5dbdb;
    cursor: default;
    opacity: 0.7;
    filter: alpha(opacity = 70);
  }
}

fieldset[disabled] .select2-search input[type="text"] {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.form-control.flat, .select2-search input[type="text"].flat {
  border-color: transparent;
}

.form-control.flat:hover, .select2-search input[type="text"].flat:hover {
  border-color: #bdc3c7;
}

.form-control.flat:focus, .select2-search input[type="text"].flat:focus {
  border-color: #1abc9c;
}

.input-sm {
  border-radius: 6px;
}

.form-group-sm {
  .form-control, .select2-search input[type="text"] {
    border-radius: 6px;
  }
}

.select2-search input[type="text"] {
  border-radius: 6px;
}

select {
  &.input-sm {
    height: 35px;
    line-height: 35px;
  }
  &.form-group-sm {
    .form-control, .select2-search input[type="text"] {
      height: 35px;
      line-height: 35px;
    }
  }
  &.select2-search input[type="text"] {
    height: 35px;
    line-height: 35px;
  }
}

textarea {
  &.input-sm, &.form-group-sm .form-control {
    height: auto;
  }
}

select[multiple] {
  &.input-sm, &.form-group-sm .form-control {
    height: auto;
  }
}

textarea.form-group-sm .select2-search input[type="text"], select[multiple].form-group-sm .select2-search input[type="text"], textarea.select2-search input[type="text"], select[multiple].select2-search input[type="text"] {
  height: auto;
}

.input-lg {
  height: 45px;
  padding: 10px 15px;
  font-size: 17px;
  line-height: 1.235;
  border-radius: 6px;
}

.form-group-lg {
  .form-control, .select2-search input[type="text"] {
    height: 45px;
    padding: 10px 15px;
    font-size: 17px;
    line-height: 1.235;
    border-radius: 6px;
  }
}

select {
  &.input-lg {
    height: 45px;
    line-height: 45px;
  }
  &.form-group-lg {
    .form-control, .select2-search input[type="text"] {
      height: 45px;
      line-height: 45px;
    }
  }
}

textarea {
  &.input-lg, &.form-group-lg .form-control {
    height: auto;
  }
}

select[multiple] {
  &.input-lg, &.form-group-lg .form-control {
    height: auto;
  }
}

textarea.form-group-lg .select2-search input[type="text"], select[multiple].form-group-lg .select2-search input[type="text"] {
  height: auto;
}

.input-hg, .form-group-hg .form-control, .form-horizontal .form-group-hg .form-control, .form-group-hg .select2-search input[type="text"], .form-horizontal .form-group-hg .select2-search input[type="text"] {
  height: 53px;
  padding: 10px 16px;
  font-size: 22px;
  line-height: 1.318;
  border-radius: 6px;
}

select {
  &.input-hg {
    height: 53px;
    line-height: 53px;
  }
  &.form-group-hg {
    .form-control, .select2-search input[type="text"] {
      height: 53px;
      line-height: 53px;
    }
  }
}

textarea {
  &.input-hg, &.form-group-hg .form-control {
    height: auto;
  }
}

select[multiple] {
  &.input-hg, &.form-group-hg .form-control {
    height: auto;
  }
}

textarea.form-group-hg .select2-search input[type="text"], select[multiple].form-group-hg .select2-search input[type="text"] {
  height: auto;
}

.form-control-feedback {
  position: absolute;
  top: 2px;
  right: 2px;
  margin-top: 1px;
  line-height: 36px;
  font-size: 17px;
  color: #b2bcc5;
  background-color: transparent;
  padding: 0 12px 0 0;
  border-radius: 6px;
  pointer-events: none;
}

.input-hg + .form-control-feedback, .control-feedback-hg {
  font-size: 20px;
  line-height: 48px;
  padding-right: 16px;
  width: auto;
  height: 48px;
}

.input-lg + .form-control-feedback, .control-feedback-lg {
  font-size: 18px;
  line-height: 40px;
  width: auto;
  height: 40px;
  padding-right: 15px;
}

.input-sm + .form-control-feedback, .control-feedback-sm, .select2-search input[type="text"] + .form-control-feedback {
  line-height: 29px;
  height: 29px;
  width: auto;
  padding-right: 10px;
}

.has-success {
  .help-block, .control-label.changing-color, .radio, .checkbox, .radio-inline, .checkbox-inline {
    color: #2ecc71;
  }
  .form-control, .select2-search input[type="text"] {
    color: #2ecc71;
    border-color: #2ecc71;
    box-shadow: none;
  }
  .form-control::-moz-placeholder, .select2-search input[type="text"]::-moz-placeholder {
    color: #2ecc71;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder, .select2-search input[type="text"]:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .select2-search input[type="text"]::-webkit-input-placeholder {
    color: #2ecc71;
  }
  .form-control:focus, .select2-search input[type="text"]:focus {
    border-color: #2ecc71;
    box-shadow: none;
  }
  .input-group-addon {
    color: #2ecc71;
    border-color: #2ecc71;
    background-color: #ffffff;
  }
  .form-control-feedback {
    color: #2ecc71;
  }
}

.has-warning {
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline {
    color: #f1c40f;
  }
  .form-control, .select2-search input[type="text"] {
    color: #f1c40f;
    border-color: #f1c40f;
    box-shadow: none;
  }
  .form-control::-moz-placeholder, .select2-search input[type="text"]::-moz-placeholder {
    color: #f1c40f;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder, .select2-search input[type="text"]:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .select2-search input[type="text"]::-webkit-input-placeholder {
    color: #f1c40f;
  }
  .form-control:focus, .select2-search input[type="text"]:focus {
    border-color: #f1c40f;
    box-shadow: none;
  }
  .input-group-addon {
    color: #f1c40f;
    border-color: #f1c40f;
    background-color: #ffffff;
  }
  .form-control-feedback {
    color: #f1c40f;
  }
}

.has-error {
  .help-block, .control-label.changing-color, .radio, .checkbox, .radio-inline, .checkbox-inline {
    color: #e74c3c;
  }
  .form-control, .select2-search input[type="text"] {
    color: #e74c3c;
    border-color: #e74c3c;
    box-shadow: none;
  }
  .form-control::-moz-placeholder, .select2-search input[type="text"]::-moz-placeholder {
    color: #e74c3c;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder, .select2-search input[type="text"]:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .select2-search input[type="text"]::-webkit-input-placeholder {
    color: #e74c3c;
  }
  .form-control:focus, .select2-search input[type="text"]:focus {
    border-color: #e74c3c;
    box-shadow: none;
  }
  .input-group-addon {
    color: #e74c3c;
    border-color: #e74c3c;
    background-color: #ffffff;
  }
  .form-control-feedback {
    color: #e74c3c;
  }
}

.form-control {
  &[disabled] + .form-control-feedback, &[readonly] + .form-control-feedback {
    cursor: not-allowed;
    color: #d5dbdb;
    background-color: transparent;
    opacity: 0.7;
    filter: alpha(opacity = 70);
  }
}

fieldset[disabled] .form-control + .form-control-feedback, .form-control.disabled + .form-control-feedback {
  cursor: not-allowed;
  color: #d5dbdb;
  background-color: transparent;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.select2-search input[type="text"] {
  &[disabled] + .form-control-feedback, &[readonly] + .form-control-feedback {
    cursor: not-allowed;
    color: #d5dbdb;
    background-color: transparent;
    opacity: 0.7;
    filter: alpha(opacity = 70);
  }
}

fieldset[disabled] .select2-search input[type="text"] + .form-control-feedback, .select2-search input[type="text"].disabled + .form-control-feedback {
  cursor: not-allowed;
  color: #d5dbdb;
  background-color: transparent;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}


// FlatUI --end

// Bootstrap --start
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.7;
}
// Bootstrap --end