/* directories */
$assetsDir: "../";
$imagesDir: "#{$assetsDir}images/template/";
$fontsDir: "#{$assetsDir}fonts/";

/* directions */
$verticalDirections: ("t": "top", "b": "bottom");
$horizontalDirections: ("r": "right", "l": "left");
$directions: map_merge($verticalDirections, $horizontalDirections);

/* aligning */
$alignCenter: ("c": "center");
$verticalAligning: map_merge($verticalDirections, $alignCenter);
$horizontalAligning: map_merge($horizontalDirections, $alignCenter);
$aligning: ("vertical": $verticalAligning, "horizontal": $horizontalAligning);
$aligningProperties: ("vertical": 'align-items', "horizontal": 'justify-content');

/* colors */
$darkColors: (
        "black": #3e3e3e,
        "almostBlack": #070707,
        "green": #3AB637,
        "red": #e80000,
        "purple": #9013FE,
        "teal": #23999d,
        "blue": #337ab7,
        "brown": #4F3111,
        "violet": #4F5B93,
        "orange": #F18432,
        "pink": #A400AC,
        "orangeRed": #A400AC,
        "gray": #808080,
        "gold": #FFD700,
        "silver": #C0C0C0,
);

$lightColors: (
        "white": #ffffff,
        "lightGray": #eeeeee,
);

$colors: map_merge($darkColors, $lightColors);

/* selectors */
$selectors: (
        "allInputs": "input, textarea, select",
);

