@import "front_styles_by_peyman";

div.authform-error {
  background-color: #F55145;
  color: white ;
  border-radius: 5px;
  font-weight: 100;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 10px;
}