@import "bootstrap";
@import "bootstrap/media";
@import "ecg/variables";
@import "public_silent_classes";
@import "local-variables/ltr";
@import "colors";
@import "measurement_and_alignment";


/* Keyframes ** start */
@-webkit-keyframes VTach {
  0% {
    background-position: 2651px;
  }
  0.9% {
    color: #ffffff;
  }
  1% {
    color: #CCCCCC;
  }
  1.1% {
    color: #ffffff;
  }
  2.9% {
    color: #ffffff;
  }
  3% {
    color: #CCCCCC;
  }
  3.1% {
    color: #ffffff;
  }
  3.9% {
    color: #ffffff;
  }
  4% {
    color: #CCCCCC;
  }
  4.1% {
    color: #ffffff;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  6.9% {
    color: #ffffff;
  }
  7% {
    color: #CCCCCC;
  }
  7.1% {
    color: #ffffff;
  }
  8.9% {
    color: #ffffff;
  }
  9% {
    color: #CCCCCC;
  }
  9.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  10.9% {
    color: #ffffff;
  }
  11% {
    color: #CCCCCC;
  }
  11.1% {
    color: #ffffff;
  }
  12.9% {
    color: #ffffff;
  }
  13% {
    color: #CCCCCC;
  }
  13.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  15.9% {
    color: #ffffff;
  }
  16% {
    color: #CCCCCC;
  }
  16.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  17.9% {
    color: #ffffff;
  }
  18% {
    color: #CCCCCC;
  }
  18.1% {
    color: #ffffff;
  }
  19.9% {
    color: #ffffff;
  }
  20% {
    color: #CCCCCC;
  }
  20.1% {
    color: #ffffff;
  }
  20.9% {
    color: #ffffff;
  }
  21% {
    color: #CCCCCC;
  }
  21.1% {
    color: #ffffff;
  }
  22.9% {
    color: #ffffff;
  }
  23% {
    color: #CCCCCC;
  }
  23.1% {
    color: #ffffff;
  }
  23.9% {
    color: #ffffff;
  }
  24% {
    color: #CCCCCC;
  }
  24.1% {
    color: #ffffff;
  }
  24.9% {
    color: #ffffff;
  }
  25% {
    color: #CCCCCC;
  }
  25.1% {
    color: #ffffff;
  }
  26.9% {
    color: #ffffff;
  }
  27% {
    color: #CCCCCC;
  }
  27.1% {
    color: #ffffff;
  }
  27.9% {
    color: #ffffff;
  }
  28% {
    color: #CCCCCC;
  }
  28.1% {
    color: #ffffff;
  }
  29.9% {
    color: #ffffff;
  }
  30% {
    color: #CCCCCC;
  }
  30.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  31.9% {
    color: #ffffff;
  }
  32% {
    color: #CCCCCC;
  }
  32.1% {
    color: #ffffff;
  }
  33.9% {
    color: #ffffff;
  }
  34% {
    color: #CCCCCC;
  }
  34.1% {
    color: #ffffff;
  }
  35.9% {
    color: #ffffff;
  }
  36% {
    color: #CCCCCC;
  }
  36.1% {
    color: #ffffff;
  }
  36.9% {
    color: #ffffff;
  }
  37% {
    color: #CCCCCC;
  }
  37.1% {
    color: #ffffff;
  }
  37.9% {
    color: #ffffff;
  }
  38% {
    color: #CCCCCC;
  }
  38.1% {
    color: #ffffff;
  }
  39.9% {
    color: #ffffff;
  }
  40% {
    color: #CCCCCC;
  }
  40.1% {
    color: #ffffff;
  }
  40.9% {
    color: #ffffff;
  }
  41% {
    color: #CCCCCC;
  }
  41.1% {
    color: #ffffff;
  }
  42.9% {
    color: #ffffff;
  }
  43% {
    color: #CCCCCC;
  }
  43.1% {
    color: #ffffff;
  }
  43.9% {
    color: #ffffff;
  }
  44% {
    color: #CCCCCC;
  }
  44.1% {
    color: #ffffff;
  }
  45.9% {
    color: #ffffff;
  }
  46% {
    color: #CCCCCC;
  }
  46.1% {
    color: #ffffff;
  }
  46.9% {
    color: #ffffff;
  }
  47% {
    color: #CCCCCC;
  }
  47.1% {
    color: #ffffff;
  }
  47.9% {
    color: #ffffff;
  }
  48% {
    color: #CCCCCC;
  }
  48.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  50.9% {
    color: #ffffff;
  }
  51% {
    color: #CCCCCC;
  }
  51.1% {
    color: #ffffff;
  }
  52.9% {
    color: #ffffff;
  }
  53% {
    color: #CCCCCC;
  }
  53.1% {
    color: #ffffff;
  }
  53.9% {
    color: #ffffff;
  }
  54% {
    color: #CCCCCC;
  }
  54.1% {
    color: #ffffff;
  }
  55.9% {
    color: #ffffff;
  }
  56% {
    color: #CCCCCC;
  }
  56.1% {
    color: #ffffff;
  }
  56.9% {
    color: #ffffff;
  }
  57% {
    color: #CCCCCC;
  }
  57.1% {
    color: #ffffff;
  }
  58.9% {
    color: #ffffff;
  }
  59% {
    color: #CCCCCC;
  }
  59.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  60.9% {
    color: #ffffff;
  }
  61% {
    color: #CCCCCC;
  }
  61.1% {
    color: #ffffff;
  }
  62.9% {
    color: #ffffff;
  }
  63% {
    color: #CCCCCC;
  }
  63.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  65.9% {
    color: #ffffff;
  }
  66% {
    color: #CCCCCC;
  }
  66.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  69.9% {
    color: #ffffff;
  }
  70% {
    color: #CCCCCC;
  }
  70.1% {
    color: #ffffff;
  }
  70.9% {
    color: #ffffff;
  }
  71% {
    color: #CCCCCC;
  }
  71.1% {
    color: #ffffff;
  }
  72.9% {
    color: #ffffff;
  }
  73% {
    color: #CCCCCC;
  }
  73.1% {
    color: #ffffff;
  }
  73.9% {
    color: #ffffff;
  }
  74% {
    color: #CCCCCC;
  }
  74.1% {
    color: #ffffff;
  }
  74.9% {
    color: #ffffff;
  }
  75% {
    color: #CCCCCC;
  }
  75.1% {
    color: #ffffff;
  }
  76.9% {
    color: #ffffff;
  }
  77% {
    color: #CCCCCC;
  }
  77.1% {
    color: #ffffff;
  }
  77.9% {
    color: #ffffff;
  }
  78% {
    color: #CCCCCC;
  }
  78.1% {
    color: #ffffff;
  }
  79.9% {
    color: #ffffff;
  }
  80% {
    color: #CCCCCC;
  }
  80.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  81.9% {
    color: #ffffff;
  }
  82% {
    color: #CCCCCC;
  }
  82.1% {
    color: #ffffff;
  }
  83.9% {
    color: #ffffff;
  }
  84% {
    color: #CCCCCC;
  }
  84.1% {
    color: #ffffff;
  }
  85.9% {
    color: #ffffff;
  }
  86% {
    color: #CCCCCC;
  }
  86.1% {
    color: #ffffff;
  }
  86.9% {
    color: #ffffff;
  }
  87% {
    color: #CCCCCC;
  }
  87.1% {
    color: #ffffff;
  }
  87.9% {
    color: #ffffff;
  }
  88% {
    color: #CCCCCC;
  }
  88.1% {
    color: #ffffff;
  }
  89.9% {
    color: #ffffff;
  }
  90% {
    color: #CCCCCC;
  }
  90.1% {
    color: #ffffff;
  }
  90.9% {
    color: #ffffff;
  }
  91% {
    color: #CCCCCC;
  }
  91.1% {
    color: #ffffff;
  }
  92.9% {
    color: #ffffff;
  }
  93% {
    color: #CCCCCC;
  }
  93.1% {
    color: #ffffff;
  }
  93.9% {
    color: #ffffff;
  }
  94% {
    color: #CCCCCC;
  }
  94.1% {
    color: #ffffff;
  }
  94.9% {
    color: #ffffff;
  }
  95% {
    color: #CCCCCC;
  }
  95.1% {
    color: #ffffff;
  }
  96.9% {
    color: #ffffff;
  }
  97% {
    color: #CCCCCC;
  }
  97.1% {
    color: #ffffff;
  }
  97.9% {
    color: #ffffff;
  }
  98% {
    color: #CCCCCC;
  }
  98.1% {
    color: #ffffff;
  }
  99.9% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}
/* Keyframes ** end */

body {
  @extend .bg-black;

  height: 100vh;

  .container-main {
    $gapsSize: 10;
    $sidesPaddingSize: 15;

    @extend .container-fluid, .p#{$gapsSize};

    .container-inner {
      @extend .border-1, .border-white, .full-width, .pull-start, .p#{$gapsSize};

      &.monitor {

        > .monitor-column-1 {
          @extend .pl0, .pr0;

          @media #{map_get($screenSizesToTopMedia, "md")} {
            padding-#{$endSide}: #{$gapsSize}px;
          }

          .monitor-vital-sign {
            @extend .full-width, .pull-start, .border-lightGray, .border-right-2, .border-left-2, .border-bottom-2;

            @media #{map_get($screenSizesBetweenMedia, "sm")} {
              width: 50%;
            }

            @each $colorName, $colorCode in $colors {
              &.#{$colorName} {
                @extend .text-#{$colorName};
              }
            }

            .monitor-vital-sign-heading {
              @extend .full-width, .pull-start, .bg-lightGray, .pl5, .pr5, .f18, .fw700;

              .monitor-vital-sign-title {
                @extend .pull-start;
              }

              .monitor-vital-sign-unit {
                @extend .pull-end;
              }
            }

            .monitor-vital-sign-body {
              @extend .full-width, .pull-start;
              .monitor-vital-sign-value {
                @extend .full-width, .pull-start, .text-center, .f50, .pt15, .fw700;
              }
            }
          }
        }

        > .monitor-column-2 {
          @extend .p#{$gapsSize}, .border-2, .border-lightGray, .mt20;

          @media #{map_get($screenSizesToTopMedia, "md")} {
            min-height: 100%;
            margin-top: 0;
          }

          .monitor-ecg-preview {
            @extend .border-1, .border-white, .full-width, .pull-start, .pt20, .pb20;
            height: 160px;

            .monitor-ecg-preview-inner {
              @extend .full-width, .full-height, .pull-start;

              background-size: cover;
              background-repeat: repeat-x;
              // temporary background image
              background-image: url("#{$rhysImagesDir}/r1.png");

              &.VTach {
                background-image: url("#{$rhysImagesDir}/r19.png");
                -webkit-animation: VTach 12s linear infinite;
              }
            }
          }

          .monitor-case-management-panel {
            @extend .full-width, .pull-start, .pt#{$gapsSize};

            .monitor-case-management-panel-inner {
              @extend .border-1, .border-white, .full-width, .pull-start, .full-height, .text-white, .pl#{$sidesPaddingSize}, .pr#{$sidesPaddingSize};
              font-family: Arial;

              .page {
                @extend .full-width, .pull-start;
                display: none;

                &.current {
                  display: block;
                }

                &.page-fluid {
                  margin-right: -#{$sidesPaddingSize}px;
                  margin-left: -#{$sidesPaddingSize}px;
                  width: calc(100% + #{($sidesPaddingSize * 2)}px);
                }

                .biography {
                  @extend .full-width, .pull-start, .pt25, .f20;

                  @media #{map_get($screenSizesToTopMedia, "md")} {
                    $sidesPaddingSizeInBigScreen: 50;
                    padding-right: #{$sidesPaddingSizeInBigScreen}px;
                    padding-left: #{$sidesPaddingSizeInBigScreen}px;
                  }
                }

                .page-content {
                  @extend .full-width, .pull-start, .pt20, .mb20;
                }

                /*********************** Tabs ********************** start */
                .nav {
                  li {
                    > a {
                      @extend .border-1, .border-white, .link-white;
                      border-radius: 0;

                      &:hover,
                      &:focus {
                        @extend .bg-darkGray;
                      }
                    }

                    &.active {
                      > a {
                        &,
                        &:hover,
                        &:focus {
                          background-color: map_get($colors, "white");
                          color: map_get($colors, "black");
                        }
                      }
                    }
                  }
                }

                .tab-content {
                  .tab-pane {
                    @extend .pl#{$sidesPaddingSize}, .pr#{$sidesPaddingSize}, .pt10, .pb10;
                  }
                }
                /*********************** Tabs ********************** end */

                /*********************** Tables ********************** start */
                table {
                  td {
                    @extend .pl10, .pr10, .text-center, .border-1, .border-white;
                  }
                }
                /*********************** Tables ********************** end */

                /*********************** Inputs ********************** start */
                .form-control {
                  @extend .bg-transparent, .text-white, .border-white;
                  border-radius: 0;

                  > option {
                    @extend .bg-black, .text-white;
                  }
                }

                .control-label {
                  @extend .mb5;
                }
                /*********************** Inputs ********************** end */

              }
            }

            .second-preview {
              @extend .full-width, .pull-start, .mt10, .p15, .border-1, .border-white, .text-white, .f20;
            }
          }

          .btn {
            @extend .bg-transparent, .border-1, .border-white;

            &:hover,
            &:focus {
              @extend .text-white;
            }
          }
        }
      }
    }
  }

  .cover-page {
    @extend .bg-black, .align-horizontal-center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding-top: 30vh;
    top: 0;

    .radial-timer {
      // CONFIG
      $size: 50px;
      $thickness: 5px;
      $duration: 1s;
      $color: map_get($colors, "white");
      $background: map_get($colors, "black");

      overflow: hidden;
      height: $size;
      width: $size;
      position: relative;

      .radial-timer-half {
        height: $size;
        width: $size/2;
        border-radius: $size/2 0 0 $size/2;
        background: $color;
        position: absolute;
        &:nth-of-type(2) {
          z-index: 99999999;
          -webkit-transform-origin: center right;
          -webkit-transform: rotate(180deg);
        }

        &:before {
          content: "";
          position: absolute;
          top: $thickness;
          left: $thickness;
          height: $size - 2*$thickness;
          width: ($size - 2*$thickness)/2;
          border-radius: ($size - $thickness)/2 0 0 ($size - $thickness)/2;
          background: $background;
        }
        &:after {
          content: "";
          position: absolute;
          background: $background;
          height: $size*2;
          width: $size*1.5;
          left: -$size;
          top: -$size/2;
          -webkit-transform-origin: center right;
        }
      }

      &.s-animate {
        -webkit-transform-origin: center right;
        .radial-timer-half:nth-of-type(1):after {
          -webkit-animation: rotateLeftMask $duration infinite linear;
        }
        .radial-timer-half:nth-of-type(2):after {
          -webkit-animation: rotateRightMask $duration infinite linear;
        }
      }
    }

    @-webkit-keyframes rotateLeftMask {
      0% {
        -webkit-transform: rotate(0deg);
      }
      50% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(180deg);
      }
    }
    @-webkit-keyframes rotateRightMask {
      0% {
        -webkit-transform: rotate(0deg);
      }
      50% {
        -webkit-transform: rotate(180deg);
        visibility: hidden;
      }
      100% {
        -webkit-transform: rotate(180deg);
        visibility: hidden;
      }
    }
  }

  .radio {
    input[type=radio] {
      opacity: 0;
      position: absolute;
    }

    input[type=radio],
    label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }

    label {
      @extend .pl10;
      position: relative;
    }

    input[type=radio] + label:before {
      @extend .bg-white, .border-1, .text-center, .mr10;
      content: '';
      border-color: #ddd;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      padding: 2px;
      border-radius: 50%;
    }

    input[type=radio]:checked + label:before {
      @extend .bg-black;
      box-shadow: inset 0 0 0 4px #fff;
    }

    input[type=radio]:focus + label:before {
      outline: 1px solid #ddd; /* focus style */
    }
  }
}

